[submodule "apps/kubernetes-labs-infra-demo"]
	path = apps/kubernetes-labs-infra-demo
	url = https://github.com/jhegner/kubernetes-labs-infra-demo
[submodule "apps/kubernetes-labs-infra-cluster"]
	path = apps/kubernetes-labs-infra-cluster
	url = https://github.com/jhegner/kubernetes-labs-infra-cluster
[submodule "apps/kubernetes-labs-infra-vultr"]
	path = apps/kubernetes-labs-infra-vultr
	url = https://github.com/jhegner/kubernetes-labs-infra-vultr
